<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Michelle Guo">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Michelle Guo professional website">
    <title>Michelle Guo</title>
    <link rel="stylesheet" href="../statics/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
        <h1 id ="webname"> Michelle Guo</h1>
        <nav> 
            <a href="../index.html" class="navlink">Home</a> |
            <a href="cv.html" class="navlink">CV</a> |
            <a href="contact.html" class="navlink">Contact me</a> |
            <a href="fun.html" class="navlink">For fun</a>
        </nav>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>University</td>
                <td>Carnegie Mellon University<br>B.S. in Information Systems</td>
              </tr>
              <tr>
                <td>Experience</td>
                <td>Research Asistant for natural language processing</td>
              </tr>
              <tr>
                <td>Skills</td>
                <td>HTML, C, SML, Python, Excel, R.</td>
              </tr>
            </tbody>
          </table>
      
        <p>
            Download my resume: 
            <a href="../statics/GuoMichelle Resume.pdf" target="_blank">
              <strong>Resume (PDF)</strong>
            </a>
        </p>
    </div>
    <footer> &copy; 2025 Michelle Guo</footer>
</html>