* {
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    margin: 5px;
    font-weight: 100;
  }

  header {
    background-color: white; 
    color: black; 
    padding: 10px;
  }
  
  #webname {
    background-color: pink; 

  }

  nav a {
    text-decoration: none;
    color: black; 
    margin-right: 15px;
  }
  
  nav a:hover {
    color: rgba(255, 114, 137, 0.933);
  }
  
  table {
    border-collapse: separate; 
  }
  
  th {
    padding: 12px 0;          
    background-color: #989898; 
    color: white;           
    width: fit-content;       
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2; 
  }
  
  form {
    display: block;     
    margin: 0 auto;     
    text-align: center;  
    width: 50%;    
    border: 1px solid #ddd; 
    padding: 20px; 
    background-color: #fafafa; 
  }
  
  form input,
  form textarea {
    display: block;
    margin: 10px auto;
    width: 80%;
    padding: 8px;
  }


  form input[type="submit"] {
    background-color: pink; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: pink;
  }

  #funList {
    display: none;
}

#formMessage {
  color: red;
  margin-top: 10px;
  text-align: center;  
}



